<!DOCTYPE html>

<html>
	<head>
		<title>DayPlan</title>
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="styles/index.css">
	</head>
	<body>
		<div class="container" style="margin:auto">
			<div class="jumbotron">	
				<h1>Welcome to DayPlan!</h1>
				<h2>The App to Plan It All</h2>
				<p style="color: green">
					<% if (message) { %>
					<%= message %>
					<% } %><br>
				</p>
				<div class="row">
					<a class="btn btn-primary btn-lg col-xs-5" href="/login">Log In</a>
					<a class="btn btn-primary btn-lg col-xs-offset-2 col-xs-5" href="/signup">Sign Up</a>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<form action="/searchIt">  
						<p class="form-group">
							<label for="cat">Search for: </label> 
							<input  class="form-control input-cust" type="text" name="searchCat" id="cat" placeholder="food or fun" autofocus> 
						</p>
						<p class="form-group">
							<label for="city">Search a City: </label>
							<input class="form-control input-cust" type="text" name="searchCity" id="city" placeholder="city, zip, anywhere">
						</p>
						<p>
							<input class="btn btn-primary btn-lg btn-cust" role="button" type="submit" value="Go" >
						</p>
					</form> 
				</div>
			</div>

			<div class="row">
				<% if (searchList === undefined) { %>
				<% } else { %>
				<% searchList.forEach(function(search) { %>
				<div class="col-sm-6 col-md-4">
					<div class="caption">
						<h2><%= search.name %></h2>
							<p><img src="<%= search.rating_img_url %>"> <%= search.review_count %> reviews</p>
							<p> Type: <%= search.categories %> </p>
						</div>
					</div>
				<% })%>
				<% } %>
			</div>
		</div>

<!-- *** FIX - to search and display results without account ***
 -->	

<% include ../partials/footer %>
