<!DOCTYPE html>

<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/styles/main.css">
	</head>
	<body>
	<% if(!isAuthenticated) { %>
		<a href='/login'>You must be logged in to view this page</a>

	<% } else { %>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<a href="/about" class="navbar-brand">DayPlan</a>
			<button class="btn btn-default navbar-btn"><a href="/home">Home</a></button>
			<button class="btn btn-default navbar-btn"><a href="/search">Search</a></button>
			<!-- <button class="btn btn-default navbar-btn"><a href="/results">Results</a></button> -->
			<button class="btn btn-default navbar-btn navbar-right"><a href="/logout">Log Out</a></button>
		</div>
	</nav>

	<header>
		<h1>Welcome Home <%= user.username %>!</h1>
	</header>

		<div class="container">
			<h2>Personal Checklist</h2>
			<div classs="row">
				<% list.forEach(function(items) { %>
				<div class="col-sm-6 col-sm-4">
					<form method="post" action="/delete/<%=items.dataValues.id%>?_method=delete">
						<p style="font-size: 1.25em; color: grey"> <%= items.dataValues.plan %>	
							<input type="submit" class="btn btn-primary btn-xs" value="Delete">
						</p>
						<input type="hidden" name="plannerId" id="<%= user.id %>">
					</form> 
				</div>
				<% }) %> 
			</div>
		</div>

	<!-- 	DELETE ALL BUTTON NOT WORKING **FIX** -->
	<!-- 	<form method="post" action="/delete?_method=delete">
			<input type="submit" class="btn btn-primary btn-sm" value="Delete All">
			<input type="hidden" name="planId" id="<%= user.id %>">
		</form>
 -->

	<% } %> 

<% include ../partials/footer %>