<!DOCTYPE html>

<html>
	<head>
		<title>Location</title>
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/styles/main.css">
	</head>
	<body>
		<% if(!isAuthenticated) { %>
			<a href='/login'>You must be logged in to view this page</a>

		<% } else { %>

		<h1>Check this Out!</h1>
		<nav>
			<hr>
			<button><a href="/home">Home</a></button>
			<button><a href="/search">Search</a></button>
			<button><a href="/results">Results</a></button>
			<button><a href="/logout">Log Out</a></button>
			<hr>
		</nav>


			<h1> <%= detail.name %> </h1>
			<p> <img src="<%= detail.rating_img_url_large %>" /> <%= detail.review_count %> Reviews</p>
			<p> Type: <%= detail.categories %> </p>
			<p> <img src="<%= detail.image_url %>" /> </p>
			<p> <%= detail.snippet_text %> </p>

		<form method="post" action="/save">
			<input type="hidden" name="placeName" value="<%= detail.name %>">
			<input type="hidden" name="planner" value="<%= user.id %>">
			<button type="submit">Save</button> 
		</form> 


		<% } %> 

<% include ../partials/footer %>
