<% include ../partials/header %>

		<title>Results</title>
		<link rel="stylesheet" type="text/css" href="/styles/main.css">
	</head>
	<body>
		<% if(!isAuthenticated) { %>
			<a href='/login'>You must be logged in to view the results</a>

		<% } else { %>

<% include ../partials/navbar %>

		<div class="container" style="margin: 0 auto">
		<h1>Search Results</h1>
			<div class="row">
				<% searchList.forEach(function (item) { %>
				<div class="col-sm-6 col-md-4">
					<div class="caption">
						<h2><a href="/location/<%= item.id %>"><%= item.name %></a></h2>
							<p><img src="<%= item.rating_img_url %>"> <%= item.review_count %> reviews</p>
							<p> Type: <%= item.categories %> </p>
						<blockquote>
							<p> <%= item.snippet_text %> </p>
						</blockquote>

						<form method="post" action="/saveNow">
							<input type="hidden" name="placeName" value="<%= item.name %>">
							<input type="hidden" name="planner" value="<%= user.id %>">
							<button type="submit" class="btn btn-primary btn-sm btn" style="width:25em">Save Now</button> 
						</form> 
					</div>
				</div>
				<% }) %> 
			</div>
		</div>	
		
		<% } %>  

		<div>
		</div>


<% include ../partials/footer %>


