<!DOCTYPE html>

<html>
	<head>
		<title>Results</title>
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/styles/main.css">
	</head>
	<body>
		<% if(!isAuthenticated) { %>
			<a href='/login'>You must be logged in to view the results</a>

		<% } else { %>

		<h1>Results</h1>
		<nav>
			<hr>
			<button><a href="/home">Home</a></button>
			<button><a href="/search">Search</a></button>
			<button><a href="/results">Results</a></button>
			<button><a href="/logout">Log Out</a></button>
			<hr>
		</nav>

		<h2>Search Results</h2><br>

		<% searchList.forEach(function (item) { %>
			<p>
				<h2><a href="/location/<%= item.id %>"><%= item.name %></a></h2>
					<p><img src="<%= item.rating_img_url %>"> <%= item.review_count %> reviews</p>
				<ul>
					<li> Type: <%= item.categories %> </li>
					<li> <%= item.snippet_text %> </li>
				</ul>

				<form method="post" action="/saveNow">
					<input type="hidden" name="placeName" value="<%= item.name %>">
					<input type="hidden" name="planner" value="<%= user.id %>">
					<button type="submit">Save</button> 
				</form> 
				
			</p>	

			<% }) %> 
		
		<% } %>  


<% include ../partials/footer %>


